<%- partial('_partial/head') %>
<body>
  <div class="wrapper">
  <%- partial('_partial/nav', null, {cache: !config.relative_link}) %>
      <div id="container" class="row">
        <div id="post-list">
            <% page.posts.forEach(function(item, index) { %>
            <section id="post-preview">
              <a href="<%- item.path%>">
                  <h3> <%- item.title %></h3>
              </a>
            </section>
            <% }); %>
        </div>
        <div class="push"></div>
      </div>
    </div>

  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

</body>
</html>