<%- partial('_partial/head') %>
<body>
  <div class="wrapper">
  <%- partial('_partial/nav', null, {cache: !config.relative_link}) %>
    <div id="container" class="row">

  <%- body %>

        <div class="push"></div>
      </div>
    </div>

  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/after-footer') %>

</body>
</html>